@use 'utils/colors' as c;

.faded button {
  border-color: c.$main_purple;
  background: none;
  border-width: 0.2rem;
  transition: all ease 0.3s;
  cursor: pointer;
  color: c.$text_main;
  border-style: solid;
  font-weight: 400;
}

.faded button:hover {
  background: none;
  border-color: c.$main_purple-faded;
  color: c.$text_muted;
}
