@use 'utils/colors' as c;
@use 'base/root' as d;

header {
  position: fixed;
  width: 100vw;
  height: 15vh;
}

header .wrapper {
  display: flex;
  padding: 2.5rem 12rem;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: c.$bg_main_faded;
  #nav a {
    font-size: 1.2em;
    color: c.$text_muted;
    margin-left: 3rem;
  }

  a {
    text-decoration: none;
    transition: all ease 0.2s;
  }

  #nav a:hover {
    color: c.$text_highlited;
  }
}
