@use 'utils/colors' as c;
@use 'base/root' as d;

header {
  position: fixed;
  width: 100vw;
  height: 10vh;
}

header .wrapper {
  position: sticky;
  padding: d.$default-padding;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: c.$bg_main_faded;
  a {
    font-size: 1.2em;
    text-decoration: none;
    color: c.$text_muted;
    transition: all ease 0.2s;
    margin-left: 2rem;
  }

  a:hover {
    color: c.$text_main;
  }
}

#logo {
  display: flex;
  align-items: center;
  svg {
    margin-top: -2%;
    width: 1.8vw;
    height: 6vh;
    padding-right: 0.8vw;
  }
}
