@use 'utils/colors' as c;
@use 'base/root' as d;

header {
  position: sticky;
  padding: d.$default-padding;
  display: flex;
  height: 5rem;
  justify-content: space-between;
  align-items: center;
  background-color: c.$bg_main_faded;
  a {
    font-size: 1.2em;
    text-decoration: none;
    color: c.$text_muted;
    transition: all ease 0.2s;
    margin-left: 2rem;
  }

  a:hover {
    color: c.$text_main;
  }
}
