@use 'utils/colors' as c;

#Usp-section {
  width: 80vw;
  height: 25vh;
  margin-left: 10vw;
  background: c.$bg_alt-2;
  border-radius: 8px;
  .Usp-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    align-items: center;
    padding: 3.5rem 3.5rem 3.5rem 3.5rem;

    .usp {
      width: 12vw;
      h3 {
        color: c.$text-main;
      }

      svg {
        padding: 0.2rem;
        border-radius: 2px;
      }
    }

    .usp:nth-child(1) {
      svg {
        background: #87f5b734;
        color: #87f5b7;
      }
    }

    .usp:nth-child(2) {
      svg {
        background: #d879bf33;
        color: #d879bf;
      }
    }

    .usp:nth-child(3) {
      svg {
        background: #e96d753b;
        color: #e96d75;
      }
    }

    .usp:nth-child(4) {
      svg {
        background: #6de9d931;
        color: #6de9d8;
      }
    }
  }
}
