$bg_main: #1b1e30;
$bg_main_faded: #1b1e30cc;
$bg_alt: #2c3252;
$bg_alt-2: #292e4d;
$text_main: #f8f8f8;
$text_muted: #cfd4d8;
$text_black: #232323;

$main_red: #e96d75;
$main_green: #87f5b7;
$main_green-faded: #87f5b7b2;
$main_purple: #444c80;
$main_purple-faded: #444c80b9;
$text_highlited: #87f5b7b2;
