@use 'colors' as c;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

h1,
p,
a {
  color: c.$text_main;
}
h1,
p {
  margin: 0;
  padding: 2% 0%;
}

$large_header: 5em;
$bread_text: 1em;
