@use 'utils/colors' as c;
@use 'utils/defaults' as d;

.home .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 38rem;
    transform: translate(5rem, 2rem);
  }

  h1 {
    font-size: d.$header-main;
  }

  .info {
    width: 50rem;

    p {
      width: 40rem;
    }
    .Button {
      display: inline-block;
      margin-top: 5%;
    }
  }
  #learn-more {
    margin-left: 1rem;
  }
}

#Usp-section .container {
  margin-top: 3%;
  background: c.$bg_alt-2;
  border-radius: 8px;
}

#analytics.container {
  align-items: start;
}

#analytics {
  margin-top: 8%;
  h1 {
    font-size: 2.5em;
  }

  .svg-container {
    margin-top: 1rem;
    width: 20rem;
    svg {
      border-radius: 2px;
      padding: 0.4rem;
      background: c.$main_blue_faded;
      color: c.$main_blue;
    }
  }

  #analytics-text {
    width: 27vw;
    p {
      color: c.$text_muted;
    }
  }

  .Button {
    margin-top: 3%;
    display: inline-block;
  }

  #analytics-graph {
    height: 25rem;
    width: 45vw;
    background: c.$bg_alt-2;
  }
}
