@use 'utils/colors' as c;
@use 'utils/defaults' as d;

body {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  color: c.$text_main;
  padding: 0;
  margin: 0;
  background-color: c.$bg_main;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  width: d.$container_width;
}
